mediapipe==0.8.8
numpy==1.21.1
opencv-python-headless==4.5.3.56
opencv-python==4.5.3.56
pyttsx3==2.90
argparse==1.4.0
pygame==2.0.1
tensorflow==2.6.0
wordninja==2.0.0
googletrans==4.0.0-rc1
gTTS==2.2.3
matplotlib==3.4.3
scikit-learn==0.24.2
